:root {
    --blue-color: #3693D6;
    --fw-regular: 400;
    --fw-black: 900;
}

@media screen and (max-width: 992px) {


    .landing-page .hamburger {
        display: block;
    }

    .landing-page header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateX(-110%);
        background-color: var(--blue-color);
        z-index: 2;
    }

    header nav a {
        font-size: 16px;
    }

    header nav .btn a {
        color: #fff;
        background-color: transparent;
        padding: 0;
    }

    .landing-page header nav ul {
        flex-direction: column;
        row-gap: 16px;
        padding: 20px 16px 0;
        align-items: flex-start;

    }

}

@media screen and (max-width: 768px) {
    header .logo {
        width: 180px;
    }
    header nav a {
        font-weight: var(--fw-regular);
    }

    .landing-page__content h1 {
        font-size: 70px;
    }

    .landing-page__content button {
        padding: 7px 15px 8px;
        font-size: 13px;
    }

    .gallery {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,220px);
        grid-auto-rows: 220px;
    }

    .gallery .gallery-item {
        grid-column: auto !important;
        grid-row: auto !important;
    }

    .gallery-item .detail-box .title {
        font-size: 20px;
    }

    .gallery-item .detail-box p {
        font-size: 15px;
    }

    .gallery-item .detail-box .more-btn {
        padding: 5px 15px 6px;
        font-size: 14px;

    }

    .about-me,
    .our-work {
        padding: 40px 10px;
    }

    .about-me .title,
    .our-work .title ,
    .testimonial .title{
        font-size: 22px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 480px) {
    .landing-page__content h1 {
        font-size: 45px;
    }
    .about-me,
    .our-work {
        padding: 30px 10px;
    }
    .landing-page__content button {
        padding: 7px 15px 8px;
        font-size: 13px;
        margin-top: 15px;
    }
    .about-me .detail {
        font-size: 16px;
        width: clamp(285px,75%,1000px);    
    }

    .comments {
        width: clamp(270px, 75%, 550px);
    } 
    .comment .user-image {
        width: 113px;
        height: 113px;
        margin-top: 10px;
    }
    
    .comment .user-name {
        font-size: 20px;
    }
    
    .comment q {
        font-size: 16px;
    }
    .comment q::after,
    .comment q::before {
        font-size: 50px;
        top: -28px;
        left: -17px;
    }
    .comment q::after {
        bottom: -52px;
        left: 100%;
        top: unset;
    }
}